<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1 class="display-2">Acknowledgements</h1>
      </head>
      <body>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="lead">
                    <p>A special acknowledgement to the following individuals who have influenced me in making this project:</p>
                    <p>Dr. Ravi Sheth</p>
                    <p>Dr. Mariangela Bernardi</p>
                    </p>
          </div>
          <div class="col-sm">
            <p class="lead">
            </p>
          </div>
          <div class="col-sm">

          </div>
        </div>
      </div>

      </body>
</html>
