<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1 class="display-2">Recommendation Results</h1>
      </head>
      <body>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="lead">
                  <p class="card text"><h1><frame marginwidth="40"><font color="black"><font size = 2.5> {{(prediction)}}</font></h1></p>
          </div>
          <div class="col-sm">
            <p class="lead">
            </p>
          </div>
          <div class="col-sm">
            <p><strong>How to See Your Star &amp; Your Most Similar Stars:&nbsp;</strong></p>
            <p><em><strong>Step 1:&nbsp;</strong></em>Using the right ascension and declination values, head on over to
              <a href="http://simbad.u-strasbg.fr/simbad/sim-fcoo" rel="noopener noreferrer" target="_blank">this website</a>.&nbsp;
            </p>
            <p><strong><em>Step 2:&nbsp;</em></strong>Then type in the first text box: <em>right ascension, declination</em></p>
            <p><em><strong>Step 3:</strong></em> Although you can change the system, leave the epoch and equinox values.</p>
            <p><em><strong>Step 4:</strong></em> Press preview or submit query to see the star</p>
            <p><strong>
            About:&nbsp;</strong>This website and associated machine learning model was created by Joost VanderBorgh. Current version may be buggy until optimization is complete. &nbsp;
      <a href="https://www.thedp.com/article/2019/11/penn-law-carey-foundation-donation-renaming" rel="noopener noreferrer" target="_blank">I may accept a 125 million dollar donation to rename it to whatever you wish :D </a>&nbsp;
      </p>
          </div>
        </div>
      </div>
      <br>
      <center><img src="https://i.dlpng.com/static/png/1647762_preview_preview.png" height = "100" width = "100"></center>
      <br>
          <center><a class="btn btn-secondary" href="acknowledgements.html" role="button">Acknowledgements</a></center>
      </body>
</html>
